<head>
  <title>What Can I Eat?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="/stylesheets/layout.css" rel="stylesheet">
</head>

<body>
	{{#contentFor "headerTitle"}}
	<div class="bar bar-header">
    	<h1 class="title">What Can I Eat</h1>
    </div>	
    {{/contentFor}}
	<template name="layout">
	  {{#ionView}}
	  	{{#ionBody}}
	  		{{#ionContent}}
	      		{{#ionList}}   		
			  		<ion-toggle ng-model="diary" toggle-class="toggle-calm">Dairy</ion-toggle>
			  		<ion-toggle ng-model="wheat" toggle-class="toggle-calm">Wheat</ion-toggle>
			  		<ion-toggle ng-model="gluten" toggle-class="toggle-calm">Gluten</ion-toggle>
			  		<ion-toggle ng-model="soy" toggle-class="toggle-calm">Soy</ion-toggle>
	  			{{/ionList}}
	  		{{/ionContent}}
	  	{{/ionBody}}
	  {{/ionView}}
	</template>
</body>
